In [14]:
import numpy as np  
import pandas as pd
from pathlib import Path

In [4]:

fold_ex_dt_torso = {0:2142, 1:2143, 2:2154, 3:2167, 4:2180, 'name':'torso'}
fold_ex_dt_lung = {0:2144, 1:2145, 2:2158, 3:2171, 4:2185, 'name':'lung'}
fold_ex_dt_vessel = {0:2148, 1:2149, 2:2159, 3:2172, 4:2189, 'name':'vessel'}
fold_ex_dt_binary_vessel = {0:2258, 1:2259, 2:2269, 3:2271, 4:2272, 'name':'binary_vessel'}
fold_ex_dt_ls = [fold_ex_dt_torso, fold_ex_dt_lung, fold_ex_dt_vessel, fold_ex_dt_binary_vessel]

In [15]:
parent_dir = '/home/jjia/data/lung_function/lung_function/scripts/results/experiments/'

for fold_ex_dt in fold_ex_dt_ls:
    dir0 = parent_dir + str(fold_ex_dt[0])
    ave_fpath =dir0  + '/test_pred.csv'
    output_file_path = Path(ave_fpath)
    output_file_path.parent.mkdir(parents=True, exist_ok=True)
    
    df_ls = []
    for i in [1,2,3,4]:
        data_fpath = parent_dir + str(fold_ex_dt[i]) + '/test_pred.csv'
        df = pd.read_csv(data_fpath)
        df_ls.append(df)
    df_ave = (df_ls[0] + df_ls[1] + df_ls[2] + df_ls[3])/4
    df_ave.to_csv(ave_fpath)
    print(ave_fpath)

/home/jjia/data/lung_function/lung_function/scripts/results/experiments/2142/test_pred.csv
/home/jjia/data/lung_function/lung_function/scripts/results/experiments/2144/test_pred.csv
/home/jjia/data/lung_function/lung_function/scripts/results/experiments/2148/test_pred.csv
/home/jjia/data/lung_function/lung_function/scripts/results/experiments/2258/test_pred.csv

In [9]:
df_ave.to

       pat_id      FVC  DLCOc_SB     FEV1   TLC_He
0   7957098.0  2.99525   5.08500  2.37750  4.58750
1   7977032.0  3.50225   5.72200  2.73925  5.24625
2   8077626.0  3.24600   5.30175  2.49025  4.92250
3   8160998.0  3.49725   5.78500  2.76350  5.28725
4   8189796.0  2.69725   4.46400  2.09725  4.15100
..        ...      ...       ...      ...      ...
57  9523013.0  3.31050   5.35650  2.59950  4.96725
58  9662556.0  3.14600   5.34900  2.53650  4.66800
59  9861781.0  3.16400   5.12900  2.43700  4.81275
60  9934096.0  2.96500   4.85575  2.27900  4.56625
61  9939136.0  2.47100   4.12175  1.96650  3.78050

[62 rows x 5 columns]